{% extends "base.html" %}
{% load static %}

{% block content %}

    <!--Header-Area-->
    <header class="header-area overlay" id="home-area">
      <div class="vcenter">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-10 col-md-8">
                      <div class="header-text">
                          <h3 class="header-title wow fadeInUp">Delivering Extraordinary IT Solutions & Support Globally <span class="dot"></span></h3>
                          <div class="wow fadeInUp" data-wow-delay="0.5s"><q>We Make Sure Best Solution For Our Client</q></div>
                          <div class="wow fadeInUp" data-wow-delay="0.7s">
                              <a href="#contact-area" class="bttn bttn-lg bttn-primary">Contact Now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!--Header-Area-/-->


  <!-- About-Area -->
  <section class="section-padding" id="about-area">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5">
                  <div class="page-title">
                      <h2 class="title wow fadeInUp">We Offer Quick &amp; Powerful Business Solution</h2>
                      <div class="wow fadeInUp" data-wow-delay="0.5s">
                          <p>All things need to repair and maintenance,
                              Don't worry We can fix all types of Computer & CCTV.
                          </p>
                      </div>
                  </div>
                  <div class="wow fadeInUp" data-wow-delay="0.7s">
                      <a href="#" class="bttn bttn-primary">Learn More</a>
                  </div>
              </div>
              <div class="col-sm-6 col-md-offset-1">
                  <img src="{% static 'images/about-image.png' %}" alt="">
              </div>
          </div>
      </div>
  </section>
  <!-- About-Area / -->



  <section class="section-padding gray-bg">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6">
                  <div class="video-box">
                      
                      <img src="{% static 'images/video-image.png' %}" alt="">
                      <a href="videos/IT.mp4" class="video-bttn"><img src="images/video-button.png" alt=""></a>
                  </div>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 wow fadeInUp">
                  <div class="page-title">
                      <h2 class="title">Why Choose Us?</h2>
                      <ul class="tabs-list">
                          <li class="active"><a data-toggle="pill" href="#our_mission">Our Mission</a></li>
                          <li><a data-toggle="pill" href="#our_vission">Our Vission</a></li>
                          <li><a data-toggle="pill" href="#our_support">Our Support</a></li>
                      </ul>
                  </div>
                  <div class="tab-content">
                      <div id="our_mission" class="tab-pane fade in active">
                          <h4 class="upper thing">SINCE WE HAVE 1 YEARS </h4>
                          <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
                          <p>Our mission is to enhance business growth of our customers with creative design, 
                              development and to deliver market defining high quality solutions that create value and reliable competitive advantage to customers around the globe.</p>
                          <br />
                          <a href="#" class="bttn bttn-sm bttn-primary">View More</a>
                      </div>
                      <div id="our_vission" class="tab-pane fade">
                          <h4 class="upper thing">SINCE WE HAVE 1 YEARS </h4>
                          <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
                          <p>Our main aim is to develop in a constant manner and become a leading performer in this competitive global marketplace. Fortunately, we have been able to gather a crew of professionals that can shape and mold their collective experiences, all of them posses outstanding talent that can help to accelerate your organization.</p>
                          <br />
                          <a href="#" class="bttn bttn-sm bttn-primary">View More</a>
                      </div>
                      <div id="our_support" class="tab-pane fade">
                          <h4 class="upper thing">SINCE WE HAVE 1 YEARS </h4>
                          <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
                          <p>TechIQ is Available for 24/7 ...</br>

                              We have nine months of free support for cctv from the installation date.</p>
                          <br />
                          <a href="#" class="bttn bttn-sm bttn-primary">View More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>



  <section class="section-padding" id="service-area">
      <div class="container">
          <div class="row">

              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="feature-box wow fadeInUp" data-wow-delay="0.2s">
                      <div class="box-icon">
                          <i class="icofont icofont-camera"></i>
                      </div>
                      <h4>CCTV</h4>
                      <p>We are one of the leading companies engaged in providing CCTV Installation Services. Our services are highly appreciated among our clients for their highly reliability and flexibility. Our services are carried</p>
                      <a href="#" class="read-more">Read More</a>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="feature-box wow fadeInUp" data-wow-delay="0.2s">
                      <div class="box-icon">
                          <i class="icofont icofont-eclipse"></i>
                      </div>
                      <h4>Attention to Details</h4>
                      <p>It’s our attention to the small stuff, scheduling of timelines and keen project management that makes us stand out from the rest. We are creative, while keeping a close eye on the calendar and your budget.</p>
                      <a href="#" class="read-more">Read More</a>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="feature-box wow fadeInUp" data-wow-delay="0.2s">
                      <div class="box-icon">
                          <i class="icofont icofont-idea"></i>
                      </div>
                      <h4>Unique Design</h4>
                      <p>We design Unique Websites tailored to your Business! We create brands and logos, which uniquely represent your company and remain well anchored in the minds of all target groups. Pretty is standard – Unique is crucial!</p>
                      <a href="#" class="read-more">Read More</a>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="feature-box wow fadeInUp" data-wow-delay="0.4s">
                      <div class="box-icon">
                          <i class="icofont icofont-code-alt"></i>
                      </div>
                      <h4>Clean Layout</h4>
                      <p>Clean Layout is the layout where things are disposed in a way that makes everything clear and easy to browse.</p>
                      <a href="#" class="read-more">Read More</a>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="feature-box wow fadeInUp" data-wow-delay="0.6s">
                      <div class="box-icon">
                          <i class="icofont icofont-monitor"></i>
                      </div>
                      <h4>Well Responsive</h4>
                      <p>website design that will looks good at any size — from a large desktop LCD monitor to the smaller screens we use on smartphones and tablets. 
                          Responsive design ensures visitors to the site have a similar experience that is independent of the of the size of the device device used to view the site.</p>
                      <a href="#" class="read-more">Read More</a>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="feature-box wow fadeInUp" data-wow-delay="1.2s">
                      <div class="box-icon">
                          <i class="icofont icofont-chart-bar-graph"></i>
                      </div>
                      <h4>Pro Developing</h4>
                      <p>
                          Process of improving and increasing capabilities of staff through access to education and training opportunities in the workplace, through outside organization, or through watching others perform the job. 
                          Professional development helps build and maintain morale of staff members, and is thought to attract higher quality staff to an organization.
                  
                      </p>
                      <a href="#" class="read-more">Read More</a>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="feature-box wow fadeInUp" data-wow-delay="1s">
                      <div class="box-icon">
                          <i class="icofont icofont-files"></i>
                      </div>
                      <h4>Well Documented</h4>
                      <p>Over the years, We’ve been fortunate to be a contributor on extremely successful software projects as well as not-so-successful software projects. 
                          There are several factors involved in making a software project successful, including a bit of luck; 
                          however, the constant across all of the successful projects was that they were all well-documented.</p>
                      <a href="#" class="read-more">Read More</a>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="feature-box wow fadeInUp" data-wow-delay="0.8s">
                      <div class="box-icon">
                          <i class="icofont icofont-money-bag"></i>
                      </div>
                      <h4>Quick Marketing</h4>
                      <p>
                          Creating comprehensive digital strategies that empower businesses around the globe. Passion and dedication are who we are. Vision and innovation are what make us great.</p>
                      <a href="#" class="read-more">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <!-- Skill-Area -->
  <section class="section-padding gray-bg" id="skill-area">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-5">
                  <div class="page-title">
                      <h2 class="title wow fadeInUp">Our Professional Skill</h2>
                      <div class="wow fadeInUp">
                          <p>Always being competent and reliable by producing high quality work and meeting deadlines; Seeking input or help from others when needed; Honoring commitments and being accountable for your actions and words; Making use of time management and planning skills on a daily basis
                          .</p>
                      </div>
                  </div>
                  <div class="skills skills1 row">
                      <!-- main skill No. 1 -->
                      <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.2s">
                          <div class="chart chart1 center" data-percent="95">
                              <span class="counter">95</span>
                          </div>
                          <h6>WebDesign</h6>
                      </div>
                      <!-- main skill No. 2 -->
                      <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.4s">
                          <div class="chart chart1 center" data-percent="85">
                              <span class="counter">85</span>
                          </div>
                          <h6>Coding</h6>
                      </div>
                      <!-- main skill No. 3 -->
                      <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.6s">
                          <div class="chart chart1 center" data-percent="90">
                              <span class="counter">90</span>
                          </div>
                          <h6>Developing</h6>
                      </div>
                      <!-- main skill No. 4 -->
                      <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="1.2s">
                          <div class="chart chart1 center" data-percent="95">
                              <span class="counter">95</span>
                          </div>
                          <h6>Java Script</h6>
                      </div>
                      <!-- main skill No. 4 -->
                      <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="1s">
                          <div class="chart chart1 center" data-percent="85">
                              <span class="counter">85</span>
                          </div>
                          <h6>Apps Design</h6>
                      </div>
                      <!-- main skill No. 4 -->
                      <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.8s">
                          <div class="chart chart1 center" data-percent="90">
                              <span class="counter">90</span>
                          </div>
                          <h6>Graphics Script</h6>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-offset-1">
                  <img src="images/skill-image.png" alt="">
              </div>
          </div>
      </div>
  </section>
  <!-- Skill-Area / -->





  <!-- Portfolio-Area 
  <section class="section-padding" id="portfolio-area">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                  <div class="page-title text-center">
                      <h2 class="title">Portfolio Project</h2>
                      <p>There are many variations of passages of Lorem Ipsum available.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <!-- Mixitup controls -
                  <ul class="filter-controls text-center">
                      <li class="active filter" data-filter="all">All</li>
                      <li class="active filter" data-filter=".graphics">Graphics</li>
                      <li class="filter" data-filter=".ux_ui">UI/UX</li>
                      <li class="filter" data-filter=".web_design">Web Design</li>
                      <li class="filter" data-filter=".coding">Coding</li>
                      <li class="filter" data-filter=".developing">Developing</li>
                      <li class="filter" data-filter=".photography">Photography</li>
                  </ul>
              </div>
          </div>
          <div class="row" id="filtering">
              <div class="col-xs-6 col-sm-4 col-md-3 mix graphics developing">
                  <div class="filter-box">
                      <div class="filter-image">
                          <img src="images/work-1.jpg" alt="">
                      </div>
                      <div class="filter-hover">
                          <h5>Print Template</h5>
                          <a href="images/work-1.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3 mix ux_ui ">
                  <div class="filter-box">
                      <div class="filter-image">
                          <img src="images/work-2.jpg" alt="">
                      </div>
                      <div class="filter-hover">
                          <h5>Graphics Template</h5>
                          <a href="images/work-2.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3 mix graphics ">
                  <div class="filter-box">
                      <div class="filter-image">
                          <img src="images/work-3.jpg" alt="">
                      </div>
                      <div class="filter-hover">
                          <h5>Web Template</h5>
                          <a href="images/work-3.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3 mix ux_ui developing">
                  <div class="filter-box">
                      <div class="filter-image">
                          <img src="images/work-4.jpg" alt="">
                      </div>
                      <div class="filter-hover">
                          <h5>Developing</h5>
                          <a href="images/work-4.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3 mix web_design photography">
                  <div class="filter-box">
                      <div class="filter-image">
                          <img src="images/work-5.jpg" alt="">
                      </div>
                      <div class="filter-hover">
                          <h5>Photography</h5>
                          <a href="images/work-5.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3 mix coding">
                  <div class="filter-box">
                      <div class="filter-image">
                          <img src="images/work-6.jpg" alt="">
                      </div>
                      <div class="filter-hover">
                          <h5>Coding</h5>
                          <a href="images/work-6.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3 mix web_design developing">
                  <div class="filter-box">
                      <div class="filter-image">
                          <img src="images/work-7.jpg" alt="">
                      </div>
                      <div class="filter-hover">
                          <h5>Web Desing</h5>
                          <a href="images/work-7.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3 mix coding photography">
                  <div class="filter-box">
                      <div class="filter-image">
                          <img src="images/work-8.jpg" alt="">
                      </div>
                      <div class="filter-hover">
                          <h5>Coding</h5>
                          <a href="images/work-8.jpg" class="filter-popup" data-effect="mfp-zoom-in"></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Portfolio-Area / -->





  <section class="section-padding">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                  <div class="page-title text-center">
                      <h2 class="title">Our Working Process</h2>
                      <p></p>
                  </div>
              </div>
          </div>
          <div class="row process text-center">
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="single-process">
                      <div class="process-icon">
                          <i class="icofont icofont-pie"></i>
                      </div>
                      <h3>Investigation</h3>
                      <p></p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="single-process">
                      <div class="process-icon">
                          <i class="icofont icofont-users-alt-1"></i>
                      </div>
                      <h3>Consultant</h3>
                      <p></p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="single-process">
                      <div class="process-icon">
                          <i class="icofont icofont-brainstorming"></i>
                      </div>
                      <h3>Planning</h3>
                      <p></p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="single-process">
                      <div class="process-icon">
                          <i class="icofont icofont-settings-alt"></i>
                      </div>
                      <h3>Working</h3>
                      <p></p>
                  </div>
              </div>
          </div>
      </div>
  </section>





  <!-- Team-Area -->
  <section class="section-padding" id="team-area">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                  <div class="text-center">
                      <h2 class="title">Our expert team</h2>
                      <p>There are many variations of passages of Expert available.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-6 col-sm-4 col-md-3">
                  <div class="team-box wow fadeInUp" data-wow-delay="0.2s">
                      <div class="team-image">
                          <img src="images/team-1.jpg" alt="">
                      </div>
                      <div class="team-hover">
                          <h5 class="t_title">Anupam Manna</h5>
                          <span class="t_sub_title">Director</span>
                          <div class='bar_group' data-max="100">
                              <div class=" bar_group__bar thick elastic" data-value="99" data-tooltip="true" data-label="Strategic" data-show-values="true" data-unit="%"></div>
                          </div>
                          <div class='bar_group' data-max="100">
                              <div class=" bar_group__bar thick elastic" data-value="85" data-tooltip="true" data-label="DevTools" data-show-values="true" data-unit="%"></div>
                          </div>
                          <div class='bar_group' data-max="100">
                              <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Python" data-show-values="true" data-unit="%"></div>
                          </div>
                          <div class="team-social-menu">
                              <a href="https://www.facebook.com/its7080/"><i class="icofont icofont-social-facebook"></i></a>
                              <a href="https://twitter.com/its7080"><i class="icofont icofont-social-twitter"></i></a>
                              <a href="https://www.linkedin.com/in/its7080/"><i class="icofont icofont-social-linkedin"></i></a>
                              <a href="https://github.com/its7080"><i class="icofont icofont-social-github"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3">
                  <div class="team-box wow fadeInUp" data-wow-delay="0.4s">
                      <div class="team-image">
                          <img src="images/team-2.jpg" alt="">
                      </div>
                      <div class="team-hover">
                          <h5 class="t_title">Rahul Pakira</h5>
                          <span class="t_sub_title">Developer</span>
                          <div class='bar_group' data-max="100">
                              <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="VSCode" data-show-values="true" data-unit="%"></div>
                          </div>
                          <div class='bar_group' data-max="100">
                              <div class=" bar_group__bar thick elastic" data-value="80" data-tooltip="true" data-label="Coding" data-show-values="true" data-unit="%"></div>
                          </div>
                          <div class='bar_group' data-max="100">
                              <div class=" bar_group__bar thick elastic" data-value="85" data-tooltip="true" data-label="Phototshop" data-show-values="true" data-unit="%"></div>
                          </div>
                          <div class="team-social-menu">
                              <a href="https://www.facebook.com/EsteRahul"><i class="icofont icofont-social-facebook"></i></a>
                              <a href="https://twitter.com/RahulPakira"><i class="icofont icofont-social-twitter"></i></a>
                              <a href="https://www.linkedin.com/in/rahul-pakira-5a91171b4/"><i class="icofont icofont-social-linkedin"></i></a>
                              <a href="https://github.com/Esterahul"><i class="icofont icofont-social-github"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4 col-md-3">
                  <div class="team-box wow fadeInUp" data-wow-delay="0.6s">
                      <div class="team-image">
                          <img src="images/team-3.jpg" alt="">
                      </div>
                      <div class="team-hover">
                          <h5 class="t_title">Debjit Das</h5>
                          <span class="t_sub_title">CCTV Expert</span>
                          <div class='bar_group' data-max="100">
                              <div class=" bar_group__bar thick elastic" data-value="90" data-tooltip="true" data-label="Phototshop" data-show-values="true" data-unit="%"></div>
                          </div>
                          <div class='bar_group' data-max="100">
                              <div class=" bar_group__bar thick elastic" data-value="70" data-tooltip="true" data-label="Indesign" data-show-values="true" data-unit="%"></div>
                          </div>
                          <div class='bar_group' data-max="100">
                              <div class=" bar_group__bar thick elastic" data-value="60" data-tooltip="true" data-label="Illustrator" data-show-values="true" data-unit="%"></div>
                          </div>
                          <div class="team-social-menu">
                              <a href="https://www.facebook.com/i4033"><i class="icofont icofont-social-facebook"></i></a>
                              <a href="https://twitter.com/DebjitD08107341"><i class="icofont icofont-social-twitter"></i></a>
                              <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                              <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          
          </div>
      </div>
  </section>
  <!-- Team-Area / -->



  <!-- Price-Area -->
  <section class="section-padding gray-bg" id="price-area">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  <div class="page-title text-center">
                      <h2 class="title">Pricing Plan</h2>
                      <p>There are many variations of Pricing Plan available.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <ul class="price-tabs">
                      <li class="active"><a data-toggle="pill" href="#monthly">Computer Troubleshooting</a></li>
                      <li><a data-toggle="pill" href="#yearly">CCTV Setup</a></li>
                      <li><a data-toggle="pill" href="#yearly1">Web Application</a></li>
                  </ul>
              </div>
          </div>
          <div class="row prices tab-content">
              <div id="monthly" class="tab-pane fade in active">
                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.2s">
                      <div class="price-box">
                          <h4>Basic</h4>
                          <h3 class="amount">&#8377;200 /<span> Hour</span></h3>
                          <ul class="price-list">
                              <li>Action With in three days</li>
                              <li>For On-spot Service extra &#8377;100 Will be charged</li>
                           
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                      <div class="price-box active">
                          <h4>Premium</h4>
                          <h3 class="amount">&#8377;300 /<span> Hour</span></h3>
                          <ul class="price-list">
                              <li>Action With in 36 Hour</li>
                              <li>For On-spot Service extra &#8377;100 Will be charged</li>
                              
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                      <div class="price-box">
                          <h4>Ultimate</h4>
                          <h3 class="amount">&#8377;450 /<span> Hour</span></h3>
                          <ul class="price-list">
                              <li>Action With in 12 hour</li>
                              <li>For On-spot Service extra &#8377;100 Will be charged</li>
                          
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                      <div class="price-box">
                          <h4>Operating System</h4>
                          <h3 class="amount">&#8377;500 /<span> OS</span></h3>
                          <ul class="price-list">
                              <li>Permanent activation</li>
                              <li>Free Secuirity Service</li>
                              <li>Dedicated Useable Account</li>
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div>
              </div>
              <div id="yearly" class="tab-pane fade">
                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.2s">
                      <div class="price-box">
                          <h4>4 Channel</h4>
                          <h3 class="amount">&#8377;1500 /<span> Full Installation</span></h3>
                          <ul class="price-list">
                              <li>Free Useable</li>
                              <li>Nine month free maintanance</li>
                    
                              <li>Dedicated Useable Account</li>
                              <li>Over 90 Meter wiring will cost &#8377;3.5/Meter</li>
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                      <div class="price-box active">
                          <h4>8 Channel</h4>
                          <h3 class="amount">&#8377;2000 /<span> Full Installation</span></h3>
                          <ul class="price-list">
                              <li>Free Useable</li>
                              <li>Nine month free maintanance</li>
                  
                              <li>Dedicated Useable Account</li>
                              <li>Over 90 Meter wiring will cost &#8377;3.5/Meter</li>
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.6s">
                      <div class="price-box">
                          <h4>16 Channel</h4>
                          <h3 class="amount">&#8377;3000 /<span> Full Installation</span></h3>
                          <ul class="price-list">
                              <li>Free Useable</li>
                              <li>Nine month free maintanance</li>
                         
                              <li>Dedicated Useable Account</li>
                              <li>Over 90 Meter wiring will cost &#8377;3.5/Meter</li>
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                      <div class="price-box">
                          <h4>32 Channel</h4>
                          <h3 class="amount">&#8377;4500 /<span> Full Installation</span></h3>
                          <ul class="price-list">
                              <li>Free Useable</li>
                              <li>Nine month free maintanance</li>
                   
                              <li>Dedicated Useable Account</li>
                              <li>Over 90 Meter wiring will cost &#8377;3.5/Meter</li>
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div>
              </div>

              
              <div id="yearly1" class="tab-pane fade">
                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.2s">
                      <div class="price-box">
                          <h4>Static Website</h4>
                          <h3 class="amount">&#8377;4999 /<span> Max Page 5</span></h3>
                          <ul class="price-list">
                              <li>Free Useable</li>
                              <li>Nine month free maintanance</li>
                              <li>Dedicated Useable Account</li>
                             
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div> 

                  <div class="col-xs-6 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                      <div class="price-box">
                          <h4>Static Website</h4>
                          <h3 class="amount">&#8377;9999 /<span> Max Page 12</span></h3>
                          <ul class="price-list">
                              <li>Free Useable</li>
                              <li>Nine month free maintanance</li>
                              <li>Dedicated Useable Account</li>
                             
                          </ul>
                          <a href="#contact-area" class="bttn bttn-sm bttn-default">Contact Now</a>
                      </div>
                  </div> 
                  
              </div>













          </div>
      </div>
  </section>
  <!-- Price-Area -->


  <!-- Blog-area 
  <section class="section-padding" id="blog-area">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                  <div class="page-title text-center">
                      <h2 class="title">Latest Blog</h2>
                      <p>There are many variations of passages of Lorem Ipsum available.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-md-6 wow fadeInUp">
                  <div class="blog-box">
                      <div class="blog-image">
                          <img src="images/blog-md-1.jpg" alt="">
                      </div>
                      <div class="blog-details">
                          <h4><a href="#">Business Consultance Meetup, 10 DEC, 2020</a></h4>
                          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="blog-lists">
                      <div class="blog-list wow fadeInUp" data-wow-delay="0.2s">
                          <div class="blog-list-image">
                              <img src="images/blog-th-1.jpg" alt="">
                          </div>
                          <h5><a href="#">On Graphics Design Post</a></h5>
                          <div class="blog-list-meta"> <i class="icofont icofont-ui-calendar"></i> 10 JUL 2020</div>
                          <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                      </div>
                      <div class="blog-list wow fadeInUp" data-wow-delay="0.4s">
                          <div class="blog-list-image">
                              <img src="images/blog-th-2.jpg" alt="">
                          </div>
                          <h5><a href="#">On Graphics Design Post</a></h5>
                          <div class="blog-list-meta"> <i class="icofont icofont-ui-calendar"></i> 7 JAN 2018</div>
                          <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                      </div>
                      <div class="blog-list wow fadeInUp" data-wow-delay="0.6s">
                          <div class="blog-list-image">
                              <img src="images/blog-th-3.jpg" alt="">
                          </div>
                          <h5><a href="#">On Graphics Design Post</a></h5>
                          <div class="blog-list-meta"> <i class="icofont icofont-ui-calendar"></i> 16 JUNE 2016</div>
                          <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Blog-area / -->


  <section class="section-padding gray-bg">
      <div class="container">
          <div class="row counters">
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div class="count-box wow fadeInUp" data-wow-delay="0.2s">
                      <div class="count-icon">
                          <i class="icofont icofont-bag-alt"></i>
                      </div>
                      <span class="count_title">Project Complete</span>
                      <h2 class="count">24</h2>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div class="count-box wow fadeInUp" data-wow-delay="0.4s">
                      <div class="count-icon">
                          <i class="icofont icofont-emo-simple-smile"></i>
                      </div>
                      <span class="count_title">Happy Client’S</span>
                      <h2 class="count">8</h2>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div class="count-box wow fadeInUp" data-wow-delay="0.6s">
                      <div class="count-icon">
                          <i class="icofont icofont-businessman"></i>
                      </div>
                      <span class="count_title">Total Client’s</span>
                      <h2 class="count">9</h2>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                  <div class="count-box wow fadeInUp" data-wow-delay="0.8s">
                      <div class="count-icon">
                          <i class="icofont icofont-money"></i>
                      </div>
                      <span class="count_title">Wining Award</span>
                      <h2 class="count">_____</h2>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Contact-Area -->
  <section class="section-padding" id="contact-area">
      <div class="contact-area">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="page-title">
                          <h3 class="bar-title">Contact Now</h3>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 col-md-8">
                      <div class="contact-form">
                          <form action="process.php" id="contact-form" method="post">
                              <div class="form-double">
                                  <input type="text" id="form-name" name="form-name" placeholder="Full Name" required="required">
                                  <input type="number" placeholder="Phone Number">
                              </div>
                              <div class="form-double">
                                  <input type="email" name="form-email" name="email" id="form-email" placeholder="Your Email" required="required">
                                  <input type="text" name="form-subject" id="form-subject" placeholder="Subject" required="required">
                              </div>
                              <textarea name="form-message" id="message" id="form-message" rows="5" required="required" placeholder="Message"></textarea>
                              <button class="bttn bttn-primary">Send Now</button>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="contact-info">
                          <ul class="info">
                              <li>
                                  <span class="info-icon">
                                      <i class="icofont icofont-social-google-map"></i>
                                  </span> Nalikul, Station Road <br> WB-712407, India
                              </li>
                              <li>
                                  <span class="info-icon">
                                      <i class="icofont icofont-ui-cell-phone"></i>
                                  </span> (+91) 7059 141480
                              </li>
                              <li>
                                  <span class="info-icon">
                                      <i class="icofont icofont-ui-cell-phone"></i>
                                  </span> (+91) 8640 857136
                              </li>
                              <li>
                                  <span class="info-icon">
                                      <i class="icofont icofont-ui-cell-phone"></i>
                                  </span> (+91) 8334 801272
                              </li>
                              <li>
                                  <span class="info-icon">
                                      <i class="icofont icofont-envelope"></i>
                                  </span> teciqllc@gmail.com
                              </li>
                          </ul>
                          <div class="social-menu-2">
                              <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                              <a href="#"><i class="icofont icofont-social-skype"></i></a>
                              <a href="#"><i class="icofont icofont-social-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Contact-Area / -->
 

  <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=nalikul&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">iframe google map</a></div><style>.mapouter{position:relative;text-align:right;height:600px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:600px;width:100%;}</style></div>

  <!-- Footer-Area -->
  <footer class="footer-area">
      <div class="footer-top section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-md-3">
                      <div class="footer-text">
                          <h4 class="upper">TecIQ</h4>
                          <p>One Step Forward <br>To The Next Generation <br>
                          Stay Connect With Us.
                          </p>
                          <div class="social-menu">
                              <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                              <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                              <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                              <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-2 col-md-offset-1">
                      <div class="footer-single">
                          <h4 class="upper">News</h4>
                          <ul>
                              <li><a href="#">Subsciption</a></li>
                              <li><a href="#">New Apps</a></li>
                              <li><a href="#">Download now</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-2">
                      <div class="footer-single">
                          <h4 class="upper">Company</h4>
                          <ul>
                              <li><a href="#">Screenshot</a></li>
                              <li><a href="#">Fetures</a></li>
                              <li><a href="#">Price</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-2">
                      <div class="footer-single">
                          <h4 class="upper">Resources</h4>
                          <ul>
                              <li><a href="#">Support</a></li>
                              <li><a href="#contact-area">Contact</a></li>
                              <li><a href="#">Privacy &amp; Term</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xs-6 col-md-2">
                      <div class="footer-single">
                          <h4 class="upper">Solutions</h4>
                          <ul>
                              <li><a href="#"><s>Bug Fixing</s></a></li>
                              <li><a href="#">Upgrade</a></li>
                              <li><a href="#"><s>Malware Protect</s></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> TecIQ LLC. All rights reserved |  <i class="icofont icofont-heart-alt" aria-hidden="true"></i><a href="https://twitter.com/its7080" target="_blank"> TecIQ</a></p>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <!-- Footer-Area / -->


  <!--Vendor-JS-->
  <script src="js/vendor/jquery-1.12.4.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <!--Plugin-JS-->
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/bars.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/counterup.min.js"></script>
  <script src="js/easypiechart.min.js"></script>
  <script src="js/mixitup.min.js"></script>
  <script src="js/contact-form.js"></script>
  <script src="js/scrollUp.min.js"></script>
  <script src="js/magnific-popup.min.js"></script>
  <script src="js/wow.min.js"></script>
  <!--Main-active-JS-->
  <script src="js/main.js"></script>
  <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXZ3vJtdK6aKAEWBovZFe4YKj1SGo9V20&callback=initMap"></script>
  <script src="js/maps.js"></script>-->


{% endblock %}
